<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<table>
  <tbody>
    <tr>
        <th>ID</th>
        <th>Имя проекта</th>
        <th>Описание</th>
        <th>Выполнен?</th>
        <th>Задачи</th>
    </tr>
    <tr th:each="project: ${projects}">
        <td th:text="${project.id}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.isDone}"></td>
        <td>
            <div th:each="task: ${project.tasks}">
                <p th:text="'Текст:' + ${task.text}"></p>
                <p th:text="'Статус:' + ${task.status}"></p>
            </div>
        </td>
    </tr>

  </tbody>
</table>

</body>
</html>